<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/stylesheet.css" >

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <title>HardsofTek School CRM - About</title>
</head>
<body>
    <header>
        <h1>HardsofTek School CRM</h1>
    </header>
     <main >

    <div id="left_sidebar" > 
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="courses">Courses</a></li>
                <li><a href="trainers">Trainers</a></li>
                <li><a href="students">Students</a></li>
                <li><a href="assignments">Assignements</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </nav>
    </div>
    <div id="main_page" class="main_about"> 
        <h3>Hello</h3>
        <h4>Chapter 1</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ratione impedit nostrum ipsam delectus mollitia atque distinctio vel ipsum, fugit velit ullam incidunt alias reprehenderit sit doloremque officia accusamus saepe qui. Hic illo itaque tenetur mollitia veniam debitis neque natus odio ducimus possimus eaque veritatis et doloremque laudantium aut quos iure, magnam maxime dolores dolorem ipsam rem molestias! Officiis voluptatibus quibusdam ex sit recusandae eius fugiat incidunt totam ad quo, aut facere nostrum similique labore itaque facilis atque in voluptate corrupti modi porro fugit nulla aliquam? Quisquam earum hic veniam tempora pariatur cupiditate ratione porro excepturi! Quisquam officiis corrupti est officia temporibus sit error cum pariatur. Qui adipisci temporibus voluptatem id omnis nulla architecto aut veritatis quidem, laboriosam eaque eveniet!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit illo totam, dolores adipisci exercitationem distinctio impedit placeat! Ea, fuga quia? Error, illum deserunt. Sed, magni. Officia expedita enim unde delectus assumenda incidunt laudantium ducimus atque facere deleniti odio in aliquam dolorem dolorum, reprehenderit est veniam voluptatibus. Exercitationem ad omnis alias et impedit repudiandae, repellat laborum ipsa, nesciunt nam mollitia est.</p>
        <h4>Chapter 2</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit facilis repellendus molestiae laborum cupiditate distinctio asperiores quibusdam rem pariatur ex, ullam explicabo nobis minima obcaecati ut odit! Corporis, libero nihil, deleniti explicabo cum ad ipsam debitis maxime porro delectus earum incidunt numquam, reprehenderit fugit. Incidunt quas illum ab error? Aut minima illo ex ad quibusdam odit itaque consequuntur vero, voluptatibus molestias recusandae nostrum quam hic excepturi sapiente nisi nulla provident optio non accusantium ipsa. Voluptas doloribus itaque eum sint nemo! Laboriosam porro in corporis eos iusto voluptate repellendus praesentium obcaecati, quibusdam deleniti fuga rerum iure debitis reprehenderit veniam ipsum id nam beatae, sequi suscipit labore! Laudantium ipsam ea facilis!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde accusantium ullam repellendus officia placeat qui facilis obcaecati expedita vel impedit magni quaerat fugiat optio suscipit nobis, provident nulla, rerum iusto! Ea dolore voluptatibus qui culpa quas eum placeat praesentium recusandae quam iusto, nemo minima reiciendis minus corporis, non laborum esse! Labore magnam nisi voluptates tempore ad natus accusamus, atque modi iure enim fugiat illum dolorem voluptas similique molestiae adipisci voluptatem aliquam dolore consectetur maxime nam deleniti suscipit, numquam assumenda. Earum expedita officia amet vel dicta consequuntur ullam accusamus similique molestiae dolorem, repellat incidunt!</p>
    </div>
    <div id="right_sidebar"> 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde sapiente alias omnis autem doloremque, beatae ullam id cupiditate quod accusamus! Perspiciatis provident consectetur, in distinctio veritatis itaque possimus. Dignissimos animi ad dolorum nemo distinctio dolorem consequatur veritatis voluptatibus, deserunt iure pariatur, autem dolores numquam unde blanditiis. Pariatur accusamus, quis hic necessitatibus ipsa architecto voluptatibus iure eligendi ducimus? Vero reprehenderit molestiae, sit eum nostrum nihil omnis ratione consequatur ab porro unde nesciunt recusandae reiciendis numquam tempora veniam eligendi? Explicabo asperiores iste quidem, voluptatem recusandae illo nam fugiat rem. Provident labore odit atque distinctio facere, temporibus veritatis dolorum quisquam ipsa quis ea. A, eaque commodi aspernatur recusandae adipisci iste fugit deserunt sequi dolorem. Quod vitae eius nesciunt dolorem delectus, esse et sequi voluptate est! Dolor ipsam cupiditate in, quos nam rem ad facere voluptas consequuntur praesentium asperiores quasi consectetur neque nesciunt voluptates odio ab officia. Autem tenetur nam optio saepe magnam libero! Fugiat eum tenetur aliquam nostrum amet autem mollitia ipsum saepe deleniti. Voluptate maiores minima sunt animi maxime provident nobis quam quia repudiandae beatae! Similique, libero. Reprehenderit consequuntur alias tenetur sed veniam ea dolore commodi vel eligendi quas excepturi deserunt praesentium, fugiat expedita. Amet corrupti natus hic itaque iure rem accusamus pariatur impedit magni est recusandae voluptatem fuga adipisci blanditiis veritatis vero qui doloremque animi reprehenderit doloribus veniam, mollitia dolorum? Dolore, atque voluptates. Cum exercitationem eligendi, quis odit vitae enim labore eos, praesentium nam ipsam a repudiandae minus natus ratione! Molestiae, minima. Atque minus a provident iste, blanditiis vitae debitis deleniti tempore, praesentium corrupti voluptate facilis quaerat possimus veniam ducimus odio quo, recusandae commodi. Id, quas autem aut illo veniam ad nemo minima facilis alias vel debitis deleniti nam aliquid quidem, asperiores sed fugit possimus architecto molestiae ut pariatur impedit et delectus? Cumque, harum recusandae fugiat quia quisquam velit officiis quam?

    </div>
    

     </main>

     <footer class="container-fluid">
        <p style="float:left!important; margin-left:20px;">Made by  <a class="rickroll" href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank">Wix.com</a> </p>
        <p>Copyright 2020 - All rights reserved.</p>
    </footer>
</body>
<script src=""></script> 
</html>