<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/stylesheet.css" >

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <title>HardsofTek School CRM - Index</title>
</head>
<body>
    <header>
        <h1>HardsofTek School CRM</h1>
    </header>
     <main >

    <div id="left_sidebar" > 
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="courses">Courses</a></li>
                <li><a href="trainers">Trainers</a></li>
                <li><a href="students">Students</a></li>
                <li><a href="assignments">Assignements</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </nav>
    </div>
    <div id="main_page"> </div>
    <div id="right_sidebar"> 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde sapiente alias omnis autem doloremque, beatae ullam id cupiditate quod accusamus! Perspiciatis provident consectetur, in distinctio veritatis itaque possimus. Dignissimos animi ad dolorum nemo distinctio dolorem consequatur veritatis voluptatibus, deserunt iure pariatur, autem dolores numquam unde blanditiis. Pariatur accusamus, quis hic necessitatibus ipsa architecto voluptatibus iure eligendi ducimus? Vero reprehenderit molestiae, sit eum nostrum nihil omnis ratione consequatur ab porro unde nesciunt recusandae reiciendis numquam tempora veniam eligendi? Explicabo asperiores iste quidem, voluptatem recusandae illo nam fugiat rem. Provident labore odit atque distinctio facere, temporibus veritatis dolorum quisquam ipsa quis ea. A, eaque commodi aspernatur recusandae adipisci iste fugit deserunt sequi dolorem. Quod vitae eius nesciunt dolorem delectus, esse et sequi voluptate est! Dolor ipsam cupiditate in, quos nam rem ad facere voluptas consequuntur praesentium asperiores quasi consectetur neque nesciunt voluptates odio ab officia. Autem tenetur nam optio saepe magnam libero! Fugiat eum tenetur aliquam nostrum amet autem mollitia ipsum saepe deleniti. Voluptate maiores minima sunt animi maxime provident nobis quam quia repudiandae beatae! Similique, libero. Reprehenderit consequuntur alias tenetur sed veniam ea dolore commodi vel eligendi quas excepturi deserunt praesentium, fugiat expedita. Amet corrupti natus hic itaque iure rem accusamus pariatur impedit magni est recusandae voluptatem fuga adipisci blanditiis veritatis vero qui doloremque animi reprehenderit doloribus veniam, mollitia dolorum? Dolore, atque voluptates. Cum exercitationem eligendi, quis odit vitae enim labore eos, praesentium nam ipsam a repudiandae minus natus ratione! Molestiae, minima. Atque minus a provident iste, blanditiis vitae debitis deleniti tempore, praesentium corrupti voluptate facilis quaerat possimus veniam ducimus odio quo, recusandae commodi. Id, quas autem aut illo veniam ad nemo minima facilis alias vel debitis deleniti nam aliquid quidem, asperiores sed fugit possimus architecto molestiae ut pariatur impedit et delectus? Cumque, harum recusandae fugiat quia quisquam velit officiis quam?

    </div>
    

     </main>

     <footer class="container-fluid">
         <p style="float:left!important; margin-left:20px;">Made by  <a class="rickroll" href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank">Wix.com</a> </p>
         <p>Copyright 2020 - All rights reserved.</p>
     </footer>
</body>
<script src=""></script> 
</html>